<div class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="h5 fw-bold text-primary">
        <mat-icon>edit</mat-icon>&nbsp;Edit Contact
      </p>
      <p class="fst-italic mt-3">
        Contact management is essential for keeping digital records of customer
        data. Contact management is the process of storing and tracking data on
        customers and leads. In addition to providing quick access to customer
        data, investing in contact management can help you grow and diversify
        your customer base. Contact management is essential for keeping digital
        records of customer data. Contact management is the process of storing
        and tracking data on customers and leads. In addition to providing quick
        access to customer data, investing in contact management can help you
        grow and diversify your customer base.
      </p>
    </div>
  </div>
</div>

<!--  condition based loading -->
<div *ngIf="loading">
  <div class="container spinner-img">
    <div class="row">
      <div class="col">
        <app-spinner></app-spinner>
      </div>
    </div>
  </div>
</div>

<!-- display error message -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>

<!-- <pre>{{ contact | json }}</pre> -->
<!-- contact form -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form (submit)="submitUpdate()">
        <div class="mb-2">
          <input
            [(ngModel)]="contact.name"
            name="name"
            type="text"
            class="form-control"
            placeholder="Name"
          />
        </div>

        <div class="mb-2">
          <input
            [(ngModel)]="contact.photo"
            name="photo"
            type="text"
            class="form-control"
            placeholder="Photo url"
          />
        </div>

        <div class="mb-2">
          <input
            [(ngModel)]="contact.email"
            name="email"
            type="email"
            class="form-control"
            placeholder="Email id"
          />
        </div>
        <div class="mb-2">
          <input
            [(ngModel)]="contact.mobile"
            name="mobile"
            type="number"
            class="form-control"
            placeholder="Mobile No"
          />
        </div>
        <div class="mb-2">
          <input
            [(ngModel)]="contact.company"
            name="company"
            type="text"
            class="form-control"
            placeholder="Company"
          />
        </div>
        <div class="mb-2">
          <input
            [(ngModel)]="contact.title"
            name="title"
            type="text"
            class="form-control"
            placeholder="Title"
          />
        </div>
        <div class="mb-2">
          <select

          [(ngModel)]="contact.groupId"
          name="groupId"
          class="form-control"

        >
        <option value="">Select a Group</option>
          <option [value]="group.id" *ngFor="let group of groups">
            {{ group.name }}
          </option>
        </select>
        </div>
        <button class="btn btn-primary mx-2" value="Update">Update</button>
        <a routerLink="/" class="btn btn-warning">Close</a>
      </form>
    </div>
    <div class="col-sm-4">
      <img [src]="contact.photo" alt="user" class="contact-img" />
    </div>
  </div>
</div>
